<section class="nicdark_section nicdark_bg_greydark">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space30"></div>

        <div class="grid grid_3 nomargin percentage">

            <div class="nicdark_space20"></div>

            <div class="nicdark_margin10">
                <h4 class="white">OUR WAY OF TEACHING</h4>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space20"></div>
                <p class="white">
                    Teaching piano begins with learning, playing, knowing, and loving the piano and the music it can produce. 
                    Equally, teaching piano begins with learning about, playing with, knowing, and loving people.
                </p>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space20"></div>
                <a href="mailto:info@fromplaytobow.co.uk?Subject=Info%20Request" title="Send us a message" class="nicdark_btn_icon nicdark_bg_orange small nicdark_shadow nicdark_radius white"><i class="icon-mail-1 nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" title="Go to home page" class="nicdark_btn_icon nicdark_bg_yellow small nicdark_shadow nicdark_radius white"><i class="icon-home nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Contact" title="Call us on +44(0)411111111" class="nicdark_btn_icon nicdark_bg_red small nicdark_shadow nicdark_radius white"><i class="icon-phone-outline nicdark_rotate"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div class="grid grid_3 nomargin percentage">
            
            <div class="nicdark_space30"></div>

            <div class="nicdark_marginleft10">
                <h4 class="white">OUR TAGS</h4>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
            </div>
            <div class="nicdark_space10"></div>

            <a href="/About" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">About</a>
            <a href="/Musicianship/WhatItIs" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Musicianship</a>
            <a href="/Piano/AdviceForBuying" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Guide</a>
            <a href="/exams" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Exams</a>
            <a href="/classes" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Classes</a>
            <a href="/Piano/PianoFees" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Fees</a>
           <a href="/News" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">News</a>
            <a href="/Piano/GeneralInfo" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Piano</a>
            <a href="/termsandconditions" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Terms</a>
            <a href="/Recitals" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Recitals</a>
            <a href="/About/OurPhilosophy" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Methodology</a>
            <a href="/gallery" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Gallery</a>

        </div>

        <div class="grid grid_3 nomargin percentage">

            <div class="nicdark_space20"></div>
            
            <div class="nicdark_margin10">
                <h4 class="white">OUR PHOTO GALLERY</h4>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
            </div>
            

            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img1.jpg">
                </div>
            </div>
            
            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img2.jpg">
                </div>
            </div>
            
            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img3.jpg">
                </div>
            </div>
            
            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img4.jpg">
                </div>
            </div>
            
            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img5.jpg">
                </div>
            </div>
            
            <div class="grid nomargin grid_4 percentage">
                <div class="nicdark_margin10">
                    <img alt="" class="nicdark_radius nicdark_opacity nicdark_focus" src="/Content/img/footer/img6.jpg">
                </div>
            </div>
            

        </div>

        <div class="grid grid_3 nomargin percentage">

            <div class="nicdark_space20"></div>

            <div class="nicdark_margin10">
                <h4 class="white">CONTACT US</h4>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space20"></div>
                
                <form action="/Contact/SendMessage/" method="post">
                    <input class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow white small subtitle" id ="txtEmail" name="txtEmail" type="text" value="" placeholder="EMAIL">
                    <div class="nicdark_space20"></div>
                    <textarea rows="3" class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow white small subtitle" id="txtMessage" name="txtMessage" placeholder="MESSAGE"></textarea>
                    <div class="nicdark_space20"></div>
                    <input class="nicdark_btn nicdark_bg_green small nicdark_shadow nicdark_radius white nicdark_press" type="submit" value="SEND">
                    @*<a href="submit-message.html" class="nicdark_mpopup_ajax nicdark_btn nicdark_bg_green small nicdark_shadow nicdark_radius white nicdark_press">SEND</a>*@
                </form>
                    
              </div>
        </div> 

        <div class="nicdark_space50"></div> 

    </div>
    <!--end nicdark_container-->
            
</section>
<!--end section-->


<!--start section-->
<div class="nicdark_section nicdark_bg_greydark2 nicdark_copyrightlogo">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
            <div class="nicdark_space20"></div>
            <p class="white">© Copyright 2015 fromplaytobow.com - Designed by <i class="icon-heart-filled red nicdark_zoom"></i> Cyberminds Ltd
            
            <br/><a href="/termsandconditions">Terms and Conditions</a>
            - <a href="/cookies">Cookies</a> - <a href="/privacypolicy">Privacy Policy</a>
           
            
            </p>
        </div>


        <div class="grid grid_6">
            <div class="nicdark_focus right nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <div class="nicdark_margin10">
                    <a href="#" class="nicdark_facebook nicdark_press right nicdark_btn_icon small nicdark_radius white"><i class="icon-facebook-1"></i></a>
                </div>
                <div class="nicdark_margin10">
                    <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_red nicdark_shadow small nicdark_radius white"><i class="icon-gplus"></i></a>
                </div>
                <div class="nicdark_margin10">
                    <a href="#" class="nicdark_press right nicdark_btn_icon nicdark_bg_blue nicdark_shadow small nicdark_radius white"><i class="icon-twitter-1"></i></a>
                </div>
                <div class="nicdark_margin10">
                    <a href="#start_nicdark_framework" class="nicdark_zoom nicdark_internal_link right nicdark_btn_icon nicdark_bg_greydark2 small nicdark_radius white"><i class="icon-up-outline"></i></a>
                </div>
            </div>
        </div>

    </div>
    <!--end nicdark_container-->
            
</div>