   <div class="nicdark_textevidence nicdark_bg_red nicdark_radius_top">
                        <div class="nicdark_margin20">
                            <h4 class="white">CONNECT WITH US</h4>
                        </div>
                    </div>

                    <div class="nicdark_margin20">
                        
                        <ul class="nicdark_list border">
                        
                            <li class="nicdark_border_grey">
                                <p><a class="grey" href="#">FACEBOOK</a><a href="#" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="/Content/img/flag/img1.png"></a></p>
                                <div class="nicdark_space15"></div>
                            </li>

                            <li class="nicdark_border_grey">
                                <div class="nicdark_space15"></div>
                                <p><a class="grey" href="#">TWITTER</a><a href="#" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="/Content/img/flag/img2.png"></a></p>   
                                <div class="nicdark_space15"></div>
                            </li>
                                
                            <li class="nicdark_border_grey">
                                <div class="nicdark_space15"></div>
                                <p><a class="grey" href="#">GOOGLE+</a><a href="#" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="/Content/img/flag/img3.png"></a></p>   
                                <div class="nicdark_space15"></div>
                            </li>
                                
                        </ul>

                    </div>