 <nav>
                            <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">

                                <li class="orange">
                                    <a href="/">HOME</a>                                   
                                </li>
                                
                                <li class="blue">
                                    <a href="/About">ABOUT</a>
                                    <ul class="sub-menu">
                                        <li><a href="/About/Us">Who we are</a></li>
                                        <li><a href="/About/OurPhilosophy">Our philosophy</a></li>
                                    </ul>
                                </li>
                                
                                <li class="green">
                                    <a href="/Grades">GRADES</a>
                                    <ul class="sub-menu">
                                        <li><a href="/Grade/one">Grade 1</a></li>
                                        <li><a href="/Grade/two">Grade 2</a></li>
                                        <li><a href="/Grade/three">Grade 3</a></li>
                                        <li><a href="/Grade/four">Grade 4</a></li>
                                        <li><a href="/Grade/five">Grade 5</a></li>
                                        <li><a href="/Grade/six">Grade 6</a></li>
                                        <li><a href="/Grade/seven">Grade 7</a></li>
                                        <li><a href="/Grade/eight">Grade 8</a></li>
                                    </ul>
                                </li>
                                <li class="orange">
                                    <a href="events.html">LESSONS</a>
                                    <ul class="sub-menu">
                                        <li><a href="/Lesson/Methodology">Methodology</a></li>
                                        <li><a href="/Lesson/Times">Times</a></li>
                                        <li><a href="/Lesson/Fees">Fees</a></li>
                                        <li><a href="/Lesson/Booking">How To Book</a></li>
                                    </ul>
                                </li>
                                <li class="grey">
                                    <a href="/Contact">CONTACTS</a>
                                </li>
                            </ul>
                        </nav>