 <nav>
                            <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">

                                <li class="orange">
                                    <a href="/">HOME</a>                                   
                                </li>
                                
                                <li class="blue">
                                    <a href="/About">ABOUT</a>
                                    <ul class="sub-menu">
                                        <li><a href="/About/Us">Who we are</a></li>
                                        <li><a href="/About/OurPhilosophy">Our philosophy</a></li>
                                    </ul>
                                </li>
                                
                                <li class="green">
                                    <a href="/Musicianship/WhatItIs">MUSICIANSHIP</a>
                                    <ul class="sub-menu">
                                        <li><a href="/Musicianship/WhatItIs">What is it?</a></li>
                                        <li><a href="/Musicianship/Fees">Fees</a></li>
                                    </ul>
                                </li>
                                <li class="orange">
                                    <a href="/Piano/GeneralInfo">PIANO</a>
                                    <ul class="sub-menu">
                                        <li><a href="/Piano/GeneralInfo">General Info</a></li>
                                        <li><a href="/Piano/PianoFees">Fees</a></li>
                                        <li><a href="/Piano/AdviceForBuying">Buying Advice</a></li>
                                    </ul>
                                </li>
                                <li class="grey">
                                    <a href="/Contact">CONTACTS</a>
                                </li>
                            </ul>
                        </nav>