@{
    ViewBag.Title = "Index";
}

@section pagetitle{
    Our Gallery
}

@section pageshortintro{
    Photo &amp; Audio Gallery
}
<style>
    div.img {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.img:hover {
            border: 1px solid #777;
        }

        div.img img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<div class="grid grid_8">

    <div class="nicdark_space50"></div>
    
    <div class="img">
        <a target="_blank" href="/Content/img/slide/img1.jpg">
            <img src="/Content/img/slide/img1.jpg" alt="Fjords" width="300" height="200">
        </a>
        <div class="desc">Image 1</div>
    </div>

    <div class="img">
        <a target="_blank" href="/Content/img/slide/img2.jpg">
            <img src="/Content/img/slide/img2.jpg" alt="Forest" width="300" height="200">
        </a>
        <div class="desc">Image 2</div>
    </div>

    <div class="img">
        <a target="_blank" href="/Content/img/slide/img3.jpg">
            <img src="/Content/img/slide/img3.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="desc">Image 3</div>
    </div>   

    <div class="nicdark_space20"></div>

</div>

