
@{
    ViewBag.Title = "Message Not Sent";
}

@section pagetitle{
    Message Failed
}

@section pageshortintro{
    Your message could not be sent.
}


<section class="nicdark_section">

    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_yellow nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <h3 class="ui-state-error-text red">Ooops!</h3>
                <p class="ui-state-error-text red">
                   
                    <br/>
                    But your message could not be sent. Please review the form and make sure you have filled all the fields before sending again.
                    <br/>

                    Thanks!

                </p>

                <div class="nicdark_space20"></div>

                <div class="nicdark_space20"></div>
            </div>

        </div>


    </div>



</section>
