@{
    ViewBag.Title = "All Testimonials";
}

@section pagetitle{
    All Testimonials
}

@section pageshortintro{
    Read all Testimonials
}

@section showcontactform{
    @Html.Raw(@" style=""display:none"" ")
}

<section class="nicdark_section">

    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">TESTIMONIALS</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">READ ON</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_yellow nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Ina's classes are terrific.  My daughter really enjoys herself every week, and her singing and musicianship has come on leaps and bounds." </p>

                <div class="nicdark_space20"></div>
                <h4>Tristan J.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_blue nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Ina has taught our child piano and musicianship for several years.  As well as being a patient and enthusiastic teacher Ina is also extremely careful to give the children regularly opportunities to perform in an nonthreatening supportive public environment.  This has seen our son's confidence and enjoyment blossom.  He is much more confident on stage and loves playing music so much he practices everyday." </p>

                <div class="nicdark_space20"></div>
                <h4>Miles T.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_greendark nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Being taught by Ina (since age 5) was my daughter’s introduction to learning music. She has absolutely thrived and is now doing so well : singing in the LSO choir and also playing piano (again taught by Ina) and violin. I have no doubt that her progress is due to the  musicianship skills taught by Ina. She has developed a wonderful “ear” and I am in awe that she can work out how to play a tune she has heard without knowing the music." </p>

                <div class="nicdark_space20"></div>
                <h4>Lisa W.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>


        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_red nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Ina is an excellent music teacher. Her sessions are thoroughly fun, interesting and engaging. My daughter really enjoys her learning  in musicianship and piano classes. We often spend our journey home singing and talking about it. With her inner peace, Ina has a unique way with children of all ages." </p>

                <div class="nicdark_space20"></div>
                <h4>Homeira S.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>


        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_yellow_hover nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"I love Ina’s piano lessons.  She chooses wonderful pieces for me to play and is very nice." </p>

                <div class="nicdark_space20"></div>
                <h4>Martha D.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_bluedark nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"We can’t thank Ina enough for fostering the love for singing in Sebastian. We started to come to Ina’s musicianship classes when he was still in nursery and he has always looked forward to playing all the fantastic musical games while at the same time spending time with his friends. When we found him a cello teacher who teaches the same method and who had a book full of his favourite ‘Ina-songs’, he immediately bonded with the teacher and the instrument. He would try to play more difficult songs on the cello because he loved singing them at the weekly music group with Ina. He is ‘fluent’ in his sol-fa which gives him a great advantage of understanding intervals and how to play the music on his cello.  But his favourite musical activity always remained singing. So much so that he wanted to audition for a boys choir. After 3 years of training with Ina he is such a confident singer, that he passed the audition for Temple Church Choir in his stride and is very proud to be a member of that choir. And on days he hasn’t got a choir rehearsal he is thrilled to go back and joins his friends for Ina’s musical games in her musicianship class." </p>

                <div class="nicdark_space20"></div>
                <h4>Mirjam J.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_green nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Ina has made my daughter enjoy playing the piano. She is an amazing insightful teacher who encourages and supports learning and understanding at every step of the way. It is joyful watching my daughter in her progress. She says “Ina makes it easier to learn and her lessons are fun"." </p>

                <div class="nicdark_space20"></div>
                <h4>Janette S.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>


    </div>



</section>
