 <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
    @using (Html.BeginForm("LogUser", "Account", FormMethod.Post, new { id = "frmPageAdd", name = "frmPageAdd" }))
    {
            <div class="nicdark_textevidence nicdark_bg_yellow nicdark_radius_top">
            <h4 class="white nicdark_margin20">LOG IN FORM</h4>
        </div>
        <div class="nicdark_margin20">
            <input type="hidden" name="hdnReferrer" id="hdnReferrer" value="@ViewBag.ReferringUrl" />
            <input class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle" name="username" id="username" type="text" value="" placeholder="USERNAME">
            <div class="nicdark_space20"></div>
            <input class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey small subtitle" name="password" id="password" type="text" value="" placeholder="PASSWORD">
            <div class="nicdark_space20"></div>
            <input class="nicdark_btn nicdark_bg_yellow medium nicdark_shadow nicdark_radius white" type="submit" value="LOG IN">
        </div>
    }
</div>