@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!--end section--><!--start section-->
<section class="nicdark_section">

    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">TESTIMONIALS</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">READ ON</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_yellow nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">
               
                <p>"Ina's classes are terrific.  My daughter really enjoys herself every week, and her singing and musicianship has come on leaps and bounds." </p>

                <div class="nicdark_space20"></div>
                <h4>Tristan J.</h4>
                 <div class="nicdark_space20"></div>               
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_blue nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-map nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Ina has taught our child piano and musicianship for several years.  As well as being a patient and enthusiastic teacher Ina is also extremely careful to give the children regularly opportunities to perform in an nonthreatening supportive public environment.  This has seen our son's confidence and enjoyment blossom.  He is much more confident on stage and loves playing music so much he practices everyday." </p>

                <div class="nicdark_space20"></div>
                <h4>Miles T.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        <div class="grid grid_12 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_greendark nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i>
                </div>
            </div>

            <div class="nicdark_activity nicdark_marginleft100">

                <p>"Being taught by Ina (since age 5) was my daughter’s introduction to learning music. She has absolutely thrived and is now doing so well : singing in the LSO choir and also playing piano (again taught by Ina) and violin. I have no doubt that her progress is due to the  musicianship skills taught by Ina. She has developed a wonderful “ear” and I am in awe that she can work out how to play a tune she has heard without knowing the music." </p>

                <div class="nicdark_space20"></div>
                <h4>Lisa W.</h4>
                <div class="nicdark_space20"></div>
            </div>

        </div>

        @*<div class="nicdark_space50"></div>*@

    </div>


    <!--start nicdark_container-->
    @*<div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">IMPORTANT INFORMATION</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">READ ON</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        <div class="grid grid_4 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_yellow nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-leaf-1 nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>FOR PUPILS</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/About/pupils" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
                <div class="nicdark_space20"></div>
            </div>
        
        </div>

        <div class="grid grid_4 nicdark_relative">
            
            <div class="nicdark_btn_iconbg nicdark_bg_orange nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-stopwatch nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>LESSONS</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/Lesson" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
                <div class="nicdark_space20"></div>
            </div>   
        
        </div>

        <div class="grid grid_4 nicdark_relative">
            
            <div class="nicdark_btn_iconbg nicdark_bg_green nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-cab nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>OUR METHODOLOGY</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/About/Methodology" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
                <div class="nicdark_space20"></div>
            </div>    
        
        </div>


        <div class="grid grid_4 nicdark_relative">

            <div class="nicdark_btn_iconbg nicdark_bg_blue nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-headphones-1 nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>EXAMS</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/Exams" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
            </div>
        
        </div>

        <div class="grid grid_4 nicdark_relative">
            
            <div class="nicdark_btn_iconbg nicdark_bg_violet nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-map nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>GRADES</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/Grade" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
            </div>   
        
        </div>

        <div class="grid grid_4 nicdark_relative">
            
            <div class="nicdark_btn_iconbg nicdark_bg_red nicdark_absolute extrabig nicdark_shadow nicdark_radius">
                <div>
                    <i class="icon-globe-2 nicdark_iconbg left big white"></i> 
                </div>
            </div>
            
            <div class="nicdark_activity nicdark_marginleft100">
                <h4>TEACHER</h4>                        
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                <div class="nicdark_space20"></div>
                <a href="/About/TheTeacher" class="nicdark_btn grey"><i class="icon-right-open-outline"></i> More</a>
            </div>    
        
        </div>

        <div class="nicdark_space50"></div>

    </div>*@
    <!--end nicdark_container-->
            
</section>
<!--end section--><!--start section-->
<div id="nicdark_parallax_2_btns" class="nicdark_section nicdark_imgparallax nicdark_parallax_img2">

    <div class="nicdark_filter greydark">

        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">

            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>

            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a href="/Testimonial" class="nicdark_disable_floatright_iphoneland nicdark_disable_floatright_iphonepotr nicdark_btn nicdark_bg_blue medium right nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-th-outline"></i>&nbsp;&nbsp;&nbsp;ALL TESTIMONIALS</a>
            </div>
            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a href="/Contact" class="nicdark_btn nicdark_bg_blue medium nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-pencil-1"></i>&nbsp;&nbsp;&nbsp;CONTACT US</a>
            </div>

            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>

        </div>
        <!--end nicdark_container-->

    </div>
            
</div>
<!--end section--><!--start section-->

<!--end section--><!--start section-->

<!--end section--><!--start section-->
<section id="nicdark_parallax_counter" class="nicdark_section nicdark_imgparallax nicdark_parallax_img1">

    <div class="nicdark_filter greydark">

        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">

            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>


            <div class="grid grid_3">
                <div class="nicdark_textevidence center">
                    <a href="" onclick="return false" title="7 Pupil sent to the London Symphony Orchestra (LSO)" class="nicdark_width50 white nicdark_btn nicdark_bg_blue nicdark_bg_bluedark_hover nicdark_transition nicdark_shadow extrasize nicdark_radius_circle subtitle nicdark_counter" data-to="7" data-speed="1000">7</a>
                    <div class="nicdark_space20"></div>
                    <h4 class="white">LSO</h4>
                </div>
            </div>
            <div class="grid grid_3">
                <div class="nicdark_textevidence center">
                    <a href="" onclick="return false" title="1 pupil accepted by the Temple Choir" class="nicdark_width50 white nicdark_btn nicdark_bg_green nicdark_bg_greendark_hover nicdark_transition nicdark_shadow extrasize nicdark_radius_circle subtitle nicdark_counter" data-to="1" data-speed="1000">1</a>
                    <div class="nicdark_space20"></div>
                    <h4 class="white">TEMPLE CHOIR</h4>
                </div>
            </div>
            <div class="grid grid_3">
                <div class="nicdark_textevidence center">
                    <a href="" onclick="return false" title="12 pupil currently attend singing classes" class="nicdark_width50 white nicdark_btn nicdark_bg_yellow nicdark_bg_yellowdark_hover nicdark_transition nicdark_shadow extrasize nicdark_radius_circle subtitle nicdark_counter" data-to="12" data-speed="1000">12</a>
                    <div class="nicdark_space20"></div>
                    <h4 class="white">SINGING</h4>
                </div>
            </div>
            <div class="grid grid_3">
                <div class="nicdark_textevidence center">
                    <a href="" onclick="return false" title="17 pupil currently take piano lessons" class="nicdark_width50 white nicdark_btn nicdark_bg_violet nicdark_bg_violetdark_hover nicdark_transition nicdark_shadow extrasize nicdark_radius_circle subtitle nicdark_counter" data-to="17" data-speed="1000">17</a>
                    <div class="nicdark_space20"></div>
                    <h4 class="white">PIANO</h4>
                </div>
            </div>

            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>

        </div>
        <!--end nicdark_container-->

    </div>
            
</section>
<!--end section--><!--start section-->
<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>

        <div class="grid grid_12">
            <h1 class="subtitle greydark">NEWS/INFO</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">FOLLOW OUR LATEST NEWS AND INFO</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_blue nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>

        
        <div class="nicdark_masonry_btns">
            <div class="nicdark_margin10">
                <a data-filter="*" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">ALL</a>
            </div>
            <div class="nicdark_margin10">
                <a data-filter=".parental" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">FOR PARENT</a>
            </div>
            <div class="nicdark_margin10">
                <a data-filter=".general" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">GENERAL</a>
            </div>
            <div class="nicdark_space10"></div>
        </div>


        <!--start nicdark_masonry_container-->
        <div class="nicdark_masonry_container">


            <div class="grid grid_4 nicdark_masonry_item general">
                <div class="nicdark_archive1 nicdark_bg_blue nicdark_radius nicdark_shadow">
                    
                   
                    <img alt=""  src="/Content/img/success.jpg">
                    
                    <div class="nicdark_margin20">
                        <h4 class="white">OUR SUCCESSES</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">Sebastian J. was offered a place at Temple choir upon the audition
                            All children who auditioned to LSO choir in 2015 were offered a place
                        </p>
                        <div class="nicdark_space20"></div>
                                               
                    </div>

                    <i class="icon-camera-outline nicdark_iconbg right medium blue"></i>

                </div>
            </div>
            <div class="grid grid_4 nicdark_masonry_item parental">
                <div class="nicdark_archive1 nicdark_bg_green nicdark_radius nicdark_shadow">
                    
                    <div class="nicdark_margin20">
                        <h4 class="white">CLASSES</h4>                        
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">
                            Musicianship classes are held in Vibast Community centre on Mondays, please contact for availability.
                        </p>
                        <div class="nicdark_space20"></div>
                        <a href="/Info/Classes" class="white nicdark_btn"><i class="icon-doc-text-1 "></i> Read More</a>
                    </div>

                    <i class="icon-pencil-1 nicdark_iconbg right medium green"></i>

                </div>
            </div>
           
            <div class="grid grid_4 nicdark_masonry_item general">
                <div class="nicdark_archive1 nicdark_bg_orange nicdark_radius nicdark_shadow">
                    
                    <a href="/gallery" class="nicdark_zoom nicdark_btn_icon nicdark_bg_orange nicdark_border_orangedark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-link-outline"></i></a>

                    <img alt=""  src="/Content/img/gallery.jpg">
                    
                    <div class="nicdark_margin20">
                        <h4 class="white">Gallery</h4>                        
                    </div>

                    <i class="icon-camera-outline nicdark_iconbg right medium orange"></i>

                </div>
            </div>
          
              <div class="grid grid_4 nicdark_masonry_item general">
                <div class="nicdark_archive1 nicdark_bg_blue nicdark_radius nicdark_shadow">
                    
                    <a href="/recitals" class="nicdark_zoom nicdark_btn_icon nicdark_bg_blue nicdark_border_bluedark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-link-outline"></i></a>

                    <img alt=""  src="/Content/img/recital_hall.jpg">
                    
                    <div class="nicdark_margin20">
                        <h4 class="white">PAST RECITALS</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">
                            July 2015 Summer Concert <br/>
                            March 2016 Concert for Age Concern Charity <br />
                            July 2016 Summer Concert
                        </p>
                        <div class="nicdark_space20"></div>
                        <a href="/recitals" class="white nicdark_btn"><i class="icon-doc-text-1 "></i> Read More</a>                        
                    </div>

                    <i class="icon-camera-outline nicdark_iconbg right medium blue"></i>

                </div>
            </div>

            <div class="grid grid_4 nicdark_masonry_item parental">
                <div class="nicdark_archive1 nicdark_bg_orange nicdark_radius nicdark_shadow">

                    <a href="/exams" class="nicdark_zoom nicdark_btn_icon nicdark_bg_orange nicdark_border_orangedark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-link-outline"></i></a>

                    <img alt="" src="/Content/img/abrsmexam.jpg">

                    <div class="nicdark_margin20">
                        <h4 class="white">EXAMS AND AUDITIONS</h4>
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">
                            As mentioned before I do not follow in my teaching any of the graded syllabuses and I typically strongly advise my pianists against graded exams...
                        </p>
                        <div class="nicdark_space20"></div>
                        <a href="/exams" class="white nicdark_btn"><i class="icon-doc-text-1 "></i> Read More</a>
                    </div>

                    <i class="icon-camera-outline nicdark_iconbg right medium orange"></i>

                </div>
            </div>
                      

            <div class="grid grid_4 nicdark_masonry_item parental">
                <div class="nicdark_archive1 nicdark_bg_red nicdark_radius nicdark_shadow">
                    
                    <div class="nicdark_margin20">
                        <h4 class="white">PRACTICE ADVICE</h4>                        
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">
                            It is essential to create for young pianists positive associations with piano (or any other instrument for that matter) – lots of praise and parental admiration will go a long way!
                        </p>
                        <div class="nicdark_space20"></div>
                        <a href="/practiceadvice" class="white nicdark_btn"><i class="icon-doc-text-1 "></i> Read More</a>
                    </div>

                    <i class="icon-pencil-1 nicdark_iconbg right medium red"></i>

                </div>
            </div>

        </div>
        <!--end nicdark_masonry_container-->

    </div>
    <!--end nicdark_container-->
            
</section>
<!--end section-->






<!--start section-->
<section class="nicdark_section">


    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space30"></div>

        <div class="grid grid_12">
            <div class="nicdark_textevidence center">
                <a href="/News/Latest" class="nicdark_zoom nicdark_btn nicdark_bg_blue medium nicdark_shadow nicdark_radius white nicdark_margin10"><i class="icon-th-outline"></i>&nbsp;&nbsp;&nbsp;VIEW MORE</a>
            </div>
        </div>

        <div class="nicdark_space40"></div>

    </div>
    <!--end nicdark_container-->

            
</section>